
button.link{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

form{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    width: min-content;
    margin:auto;
}

form input#button{
    align-self: center;
    margin-top: 30px; 
    width: 100px;
}

span.whitespace{
    width: 15px;
}

div.form-input{
    display: inline-flex;
    padding-bottom: 8px;
}

form input{
    width: 20vw;
    max-width: 200px;
    flex-basis: 100%
}